<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css" type="text/css">
    <title>BlockNote</title>
</head>
<body>
    <section class="home">
        <div class="intro">
            <div class="logo">
                <img src="https://media.istockphoto.com/vectors/notepad-paper-tick-mark-drawing-vector-id534759615" alt="">
                <span>BlockNote</span>
            </div>
        </div>
        <div class="transition"></div>
        <div class="wellcome">
            <div>
                <h1 class="wellcome-title">BlockNote</h1>
                <p class="wellcome-description">Seu bloco de anotações online.</p>
                <label>
                    <p class="wellcome-label">Informe-nos seu nome para comerçarmos:</p>
                    <input type="text" name="name" id="name" placeholder="Digite seu nome:"> 
                    <p class="alert">Informe seu nome primeiro para continuar.</p>   
                </label>
                <button class="bt-start">Começar <span class="material-icons md">east</span></button>
            </div> 
        </div>
    </section>
    <script src="js/homeScript.js"></script>
</body>
</html>